body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.chat-app-container {
  display: flex;
  justify-content: center;
}

.chat-app {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.chat-screen {
  width: 50%;
}

.chat-screen-content {
  padding: 0 10px;
}

.form-input {
  width: 90%;
  height: 30px;
  border-radius: 10px;
}

.myMessage {
  text-align: right;
  background-color: blue;
}

.theirMessage {
  text-align: left;
  background-color: gray;
}

.message {
  padding: 3px;
  color: white;
}
